*{
    margin: 0;
    font-family: arial;
}


.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.left-side,
.right-side{
    border: solid 2px black;
    height: 100vh;
}

.right-side{
    display: grid;
    grid-template-rows: 18vh 82vh;
}

.header{
    display: grid;
    grid-template-rows: 9vh 9vh;
}

.info-section{
    border: solid 3px purple;
    display: grid;
    grid-template-columns:2fr 1fr;
}

.info-left,
.info-right{
    border: solid 2px green;
}

.first-line{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.second-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-img{
    height: 24px;
    width: 26px;
}

.big-img{
    height: 50px;
    width: 48px;
    border-radius: 25px;
    border: solid 1px rgb(156, 158, 247);
}

input{
    border: none;
    background-color: #cbd5e1;
    border-radius: 20px;
    width: 30vw;
}

.grid-item,
.grid-item-two{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    
}

.grid-item{
    margin-left: 20px;
    gap: 10px;
}

.left{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.right{
        margin-right: 50px;
}

button{
    color: white;
    border: none;
    border-radius: 20px;
    width: 70px;
    background-color: #083344;
    font-weight: 600;
}

.para-grid{
    border: solid 2px lightgrey;
    border-left: solid 8px lightgray;
    border-radius: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
}

h3{
    font-family: arial;
    font-size: 20px;
    text-align: start;
    padding-left: 20px;
    padding-top: 26px;
    font-weight: 600;
}

.info-left{
    display: grid;
    grid-template-rows: 8vh 92vh ;
}

.under-caption{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh 30vh;
    row-gap: 28px;
    column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p{
    font-size: 12px;
}